.font-title {
    font-family: arial, sans-serif;
    padding: 3rem;
    color: red;
}
.section--page {
    min-height: 55vh;
    padding: 2rem 1rem 1rem;
}
.section--page:nth-of-type(odd) {
    background: #d5d5d5;
}
.nav__link {
    padding: 0rem;
}
.nav__item {
    list-style:none;
    display: block;
}
.nav__link {
    padding: 1rem;
    display: block;   
}

.consistent-images {
	height: 500px
}
.nav__link:hover {
    background: purple;
    color: white;
}
.my-excellent-class {
    color: red;
    font-size: 4rem;
}
@media (min-width: 30rem) {
    .my-excellent-class {
        color: blue;
    }
}
@media (min-width: 40rem) {
    .nav__item {
        display: inline-block;
    }
    .nav__link {
        display: inline;
    }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.my-excellent-class {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    border: 16px solid red;
    background-color: lightgreen;
}
.relative {
    position: fixed;
    right: 0;
    bottom: 0;
    border: 0 solid transparent;
    height: auto;
    padding: 2rem;
}
.float-right {
    height: 500px;
    float: left;
    margin: 1rem;

}
.consitent-images2 {
    float: right;
    margin: 1rem;
}























